In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 作業一 2018上映電影票房 資料分析

In [24]:
df1 = pd.read_csv("https://opendata.culture.tw/upload/dataSource/2018-08-09/1c3753a5-50f4-44f8-a75b-2b4d0dd2a143/69c6f154369fc266e8a3593f83d3b444.csv")

In [25]:
df1.head()

,序號,國別地區,中文片名,上映日期,申請人,出品,上映院數,銷售票數,銷售金額,累計銷售票數,累計銷售金額
0,1,法國,喜歡你愛上你逃離你,2018/07/27,傳影互動股份有限公司,MK2 FILMS,9,"1,859","410,277","3,146","695,671"
1,2,美國,超能救援,2018/07/27,威視股份有限公司,(英國)CONTENT MEDIA CORPORATION INTERNATIONAL LI...,17,"1,208","269,300","2,677","603,644"
2,3,南韓,她們的故事,2018/07/27,采昌國際多媒體股份有限公司,(匈牙利)ATRIUM PRODUCTIONS KFT,6,561,"122,870","1,089","242,573"
3,4,法國,我的抓狂(女)友,2018/07/27,天馬行空數位有限公司,LE PACTE,9,388,"85,525",835,"183,173"
4,5,中華民國,血琥珀,2018/07/27,海鵬影業有限公司,李永超##海鵬影業有限公司,4,382,"75,510",594,"119,185"

In [26]:
df1.drop("申請人",axis=1,inplace=True)

In [27]:
df1.drop("出品",axis=1,inplace=True)

In [66]:
df1.head()

   國別地區       中文片名        上映日期  上映院數   銷售票數     銷售金額 累計銷售票數   累計銷售金額
0    法國  喜歡你愛上你逃離你  2018/07/27     9  1,859  410,277  3,146  695,671
1    美國       超能救援  2018/07/27    17  1,208  269,300  2,677  603,644
2    南韓      她們的故事  2018/07/27     6    561  122,870  1,089  242,573
3    法國   我的抓狂(女)友  2018/07/27     9    388   85,525    835  183,173
4  中華民國        血琥珀  2018/07/27     4    382   75,510    594  119,185

In [67]:
df1.sort_values(by="上映院數",ascending=False).head()

,國別地區,中文片名,上映日期,上映院數,銷售票數,銷售金額,累計銷售票數,累計銷售金額
6,美國,不可能的任務：全面瓦解,2018/07/25,94,"583,444","139,528,435","1,275,257","304,514,760"
28,美國,摩天大樓,2018/07/12,89,"68,834","15,772,409","762,026","178,415,131"
21,美國,尖叫旅社3:怪獸假期,2018/07/19,86,"50,432","11,307,495","247,467","55,282,238"
31,美國,蟻人與黃蜂女,2018/07/04,83,"26,430","6,182,625","1,249,734","293,672,699"
35,美國,超人特攻隊2,2018/06/27,79,"28,191","6,492,703","1,103,931","252,079,337"

In [70]:
df1_sorted = df1.sort_values(by="上映院數",ascending=False)

In [71]:
df1_sorted.index = range(1,81)

In [72]:
df1_sorted.head()

,國別地區,中文片名,上映日期,上映院數,銷售票數,銷售金額,累計銷售票數,累計銷售金額
1,美國,不可能的任務：全面瓦解,2018/07/25,94,"583,444","139,528,435","1,275,257","304,514,760"
2,美國,摩天大樓,2018/07/12,89,"68,834","15,772,409","762,026","178,415,131"
3,美國,尖叫旅社3:怪獸假期,2018/07/19,86,"50,432","11,307,495","247,467","55,282,238"
4,美國,蟻人與黃蜂女,2018/07/04,83,"26,430","6,182,625","1,249,734","293,672,699"
5,美國,超人特攻隊2,2018/06/27,79,"28,191","6,492,703","1,103,931","252,079,337"

In [63]:
df1.drop("序號",axis=1,inplace=True)

In [73]:
df1_sorted[df1_sorted.上映院數 >= 50]

,國別地區,中文片名,上映日期,上映院數,銷售票數,銷售金額,累計銷售票數,累計銷售金額
1,美國,不可能的任務：全面瓦解,2018/07/25,94,"583,444","139,528,435","1,275,257","304,514,760"
2,美國,摩天大樓,2018/07/12,89,"68,834","15,772,409","762,026","178,415,131"
3,美國,尖叫旅社3:怪獸假期,2018/07/19,86,"50,432","11,307,495","247,467","55,282,238"
4,美國,蟻人與黃蜂女,2018/07/04,83,"26,430","6,182,625","1,249,734","293,672,699"
5,美國,超人特攻隊2,2018/06/27,79,"28,191","6,492,703","1,103,931","252,079,337"
6,泰國,把哥哥退貨可以嗎,2018/07/20,63,"5,303","1,195,752","37,697","8,566,830"
7,日本,名偵探柯南:零的執行人,2018/07/06,60,"17,249","4,058,591","361,832","83,633,321"
8,中華民國,切小金家的旅館,2018/07/12,50,"3,693","861,572","84,700","19,205,306"

In [74]:
df1_sorted[df1_sorted.國別地區 == "中華民國"]

,國別地區,中文片名,上映日期,上映院數,銷售票數,銷售金額,累計銷售票數,累計銷售金額
8,中華民國,切小金家的旅館,2018/07/12,50,"3,693","861,572","84,700","19,205,306"
40,中華民國,看不見的台灣,2018/06/15,5,452,"90,455","9,852","2,159,387"
42,中華民國,血琥珀,2018/07/27,4,382,"75,510",594,"119,185"
51,中華民國,命帶追逐（2018數位修復版）,2018/07/13,3,185,"40,515","2,575","571,031"
52,中華民國,市長夫人的秘密,2018/05/11,3,133,"8,420","21,135","4,643,490"
58,中華民國,只有大海知道,2018/06/15,2,210,"45,585","36,808","8,189,802"

In [75]:
df1_sorted[df1_sorted.國別地區 == "美國"]

,國別地區,中文片名,上映日期,上映院數,銷售票數,銷售金額,累計銷售票數,累計銷售金額
1,美國,不可能的任務：全面瓦解,2018/07/25,94,"583,444","139,528,435","1,275,257","304,514,760"
2,美國,摩天大樓,2018/07/12,89,"68,834","15,772,409","762,026","178,415,131"
3,美國,尖叫旅社3:怪獸假期,2018/07/19,86,"50,432","11,307,495","247,467","55,282,238"
4,美國,蟻人與黃蜂女,2018/07/04,83,"26,430","6,182,625","1,249,734","293,672,699"
5,美國,超人特攻隊2,2018/06/27,79,"28,191","6,492,703","1,103,931","252,079,337"
10,美國,侏羅紀世界:殞落國度,2018/06/06,28,"2,570","618,046","2,537,204","620,275,624"
13,美國,超能救援,2018/07/27,17,"1,208","269,300","2,677","603,644"
15,美國,死侍2,2018/05/15,11,"2,638","192,120","1,221,028","286,998,005"
17,美國,毀滅大作戰,2018/04/12,10,"1,603","135,050","590,197","136,777,882"
18,美國,一級玩家,2018/03/29,10,"2,290","175,805","1,413,033","361,437,827"
21,美國,震撼真相,2018/07/20,9,447,"94,380","3,273","711,404"
22,美國,211緊急呼救,2018/06/01,8,"1,186","93,695","15,618","3,178,960"
23,美國,親愛的初戀,2018/05/04,7,499,"49,330","58,698","13,269,985"
25,美國,星際大戰外傳:韓索羅,2018/05/23,7,948,"60,745","122,714","29,370,897"
26,美國,姐就是美！,2018/05/21,7,"1,246","92,115","53,429","12,156,585"
27,美國,高年級姐妹會,2018/07/13,6,662,"152,136","15,399","3,597,597"
28,美國,復仇者聯盟：無限之戰,2018/04/25,6,824,"88,845","2,583,530","640,740,755"
34,美國,真愛趁現在,2018/04/13,5,221,"14,860","15,409","3,274,806"
35,美國,高壓行動,2018/05/25,5,768,"49,920","46,191","9,941,554"
36,美國,犬之島,2018/06/01,5,292,"26,050","52,688","12,188,618"
38,美國,瞞天過海:八面玲瓏,2018/06/14,5,331,"78,975","604,122","141,480,576"
39,美國,真心話大冒險,2018/05/11,5,694,"65,130","219,164","49,897,452"
41,美國,刺殺終點戰,2018/05/04,4,259,"15,365","17,729","3,806,087"
43,美國,跟著IKEA衣櫥去旅行,2018/06/22,4,509,"115,470","22,315","5,068,720"
47,美國,比得兔,2018/04/04,3,546,"30,970","125,452","27,532,428"
50,美國,紅雀,2018/02/28,3,196,"18,770","740,215","173,323,513"
56,美國,厭世媽咪日記,2018/05/11,2,125,"18,500","22,541","5,281,108"
62,美國,萌牛費迪南,2018/02/15,1,26,"2,600","129,871","28,738,063"
65,美國,糯爾摩斯,2018/04/04,1,59,"5,290","24,458","5,261,825"
66,美國,恩德培行動,2018/04/04,1,66,"6,600","27,538","5,853,517"
68,美國,貼背戰,2018/06/22,1,17,"4,090","139,191","32,238,056"
76,美國,猛龍怪客,2018/06/01,1,85,"12,960","54,237","12,089,169"