In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# 資料分析 : 104學年度 大專院校各校科系別學生數

In [12]:
df2 = pd.read_csv("http://stats.moe.gov.tw/files/detail/104/104_sdata.csv")

In [13]:
df2.head()

,學校代碼,學校名稱,科系代碼,科系名稱,日間∕進修別,等級別,學生數,教師數,上學年度畢業生數,縣市名稱,體系別
0,1,國立政治大學,140101,教育學系,D 日,D 博士,93,0,8,30 臺北市,1 一般
1,1,國立政治大學,140101,教育學系,D 日,M 碩士,44,0,10,30 臺北市,1 一般
2,1,國立政治大學,140101,教育學系,D 日,B 學士,251,17,49,30 臺北市,1 一般
3,1,國立政治大學,140203,華語(文)教學學系,D 日,D 博士,13,0,0,30 臺北市,1 一般
4,1,國立政治大學,140203,華語(文)教學學系,D 日,M 碩士,51,0,16,30 臺北市,1 一般

In [15]:
df2.sort_values(by="學生數", ascending=False).head()

,學校代碼,學校名稱,科系代碼,科系名稱,日間∕進修別,等級別,學生數,教師數,上學年度畢業生數,縣市名稱,體系別
7606,1046,中國科技大學,810204,觀光(與)休閒事業管理學系,D 日,B 四技,999,23,124,30 臺北市,2 技職
8700,1070,長庚科技大學,720601,護理學系,D 日,C 二技,997,0,538,03 桃園市,2 技職
5628,1016,銘傳大學,340501,(計量)(數量)財務金融學系,D 日,B 學士,990,29,251,30 臺北市,1 一般
849,5,國立成功大學,520228,系統及船舶機電工程學系,D 日,M 碩士,99,0,41,21 臺南市,1 一般
4120,222,國立臺東專科學校,520201,(動力)機械(工程)科,D 日,2 二專,99,5,25,14 臺東縣,2 技職

In [18]:
df2.sort_values(by="教師數", ascending=False).head()

,學校代碼,學校名稱,科系代碼,科系名稱,日間∕進修別,等級別,學生數,教師數,上學年度畢業生數,縣市名稱,體系別
5859,1019,高雄醫學大學,720101,醫學系,D 日,B 學士,"1,054",253,168,50 高雄市,1 一般
6472,1028,臺北醫學大學,720101,醫學系,D 日,B 學士,"1,139",242,158,30 臺北市,1 一般
8699,1070,長庚科技大學,720601,護理學系,D 日,B 四技,"1,626",213,333,03 桃園市,2 技職
489,3,國立臺灣大學,720101,醫學系,D 日,B 學士,953,155,125,30 臺北市,1 一般
6912,1035,中國醫藥大學,720101,醫學系,D 日,B 學士,928,143,134,19 臺中市,1 一般

In [19]:
df2.sort_values(by="上學年度畢業生數", ascending=False).head()

,學校代碼,學校名稱,科系代碼,科系名稱,日間∕進修別,等級別,學生數,教師數,上學年度畢業生數,縣市名稱,體系別
8703,1070,長庚科技大學,720601,護理學系,N 修,C 二技,"1,610",0,612,03 桃園市,2 技職
9849,1292,新生醫護管理專科學校,720601,護理科,D 日,5 五專,"3,503",108,609,03 桃園市,2 技職
8700,1070,長庚科技大學,720601,護理學系,D 日,C 二技,997,0,538,03 桃園市,2 技職
8701,1070,長庚科技大學,720601,護理科,D 日,5 五專,"1,280",0,511,03 桃園市,2 技職
9801,1286,耕莘健康管理專科學校,720601,護理科,D 日,5 五專,"3,155",91,506,01 新北市,2 技職

In [23]:
df3 = df2[df2.學校名稱 == "國立政治大學"]
df3.head()

,學校代碼,學校名稱,科系代碼,科系名稱,日間∕進修別,等級別,學生數,教師數,上學年度畢業生數,縣市名稱,體系別
0,1,國立政治大學,140101,教育學系,D 日,D 博士,93,0,8,30 臺北市,1 一般
1,1,國立政治大學,140101,教育學系,D 日,M 碩士,44,0,10,30 臺北市,1 一般
2,1,國立政治大學,140101,教育學系,D 日,B 學士,251,17,49,30 臺北市,1 一般
3,1,國立政治大學,140203,華語(文)教學學系,D 日,D 博士,13,0,0,30 臺北市,1 一般
4,1,國立政治大學,140203,華語(文)教學學系,D 日,M 碩士,51,0,16,30 臺北市,1 一般

In [25]:
df3.sort_values(by="學生數", ascending=False).head()

,學校代碼,學校名稱,科系代碼,科系名稱,日間∕進修別,等級別,學生數,教師數,上學年度畢業生數,縣市名稱,體系別
13,1,國立政治大學,220201,(中)國(語)文學系,D 日,M 碩士,96,0,20,30 臺北市,1 一般
0,1,國立政治大學,140101,教育學系,D 日,D 博士,93,0,8,30 臺北市,1 一般
140,1,國立政治大學,480109,資訊管理(技術)學系,D 日,M 碩士,93,0,46,30 臺北市,1 一般
74,1,國立政治大學,310811,地政學系,N 職,M 碩士,93,0,18,30 臺北市,1 一般
129,1,國立政治大學,380204,法律科際整合研究所,D 日,M 碩士,90,7,15,30 臺北市,1 一般

In [27]:
len(df3)

155

In [28]:
df3.index = range(1,156)

In [29]:
df3.head()

,學校代碼,學校名稱,科系代碼,科系名稱,日間∕進修別,等級別,學生數,教師數,上學年度畢業生數,縣市名稱,體系別
1,1,國立政治大學,140101,教育學系,D 日,D 博士,93,0,8,30 臺北市,1 一般
2,1,國立政治大學,140101,教育學系,D 日,M 碩士,44,0,10,30 臺北市,1 一般
3,1,國立政治大學,140101,教育學系,D 日,B 學士,251,17,49,30 臺北市,1 一般
4,1,國立政治大學,140203,華語(文)教學學系,D 日,D 博士,13,0,0,30 臺北市,1 一般
5,1,國立政治大學,140203,華語(文)教學學系,D 日,M 碩士,51,0,16,30 臺北市,1 一般