In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# 資料分析 : 104學年度大專院校校別學生數

In [37]:
df1 = pd.read_csv("http://stats.moe.gov.tw/files/detail/104/104_student.csv")

In [38]:
df1.head()

,學校代碼,學校名稱,日間∕進修別,等級別,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
0,1,國立政治大學,D 日,D 博士,109,74,105,65,72,55,...,90,47,68,37,64,44,0,0,30 臺北市,1 一般
1,1,國立政治大學,D 日,M 碩士,655,754,569,655,346,431,...,0,0,0,0,0,0,0,0,30 臺北市,1 一般
2,1,國立政治大學,D 日,B 學士,993,1199,864,1398,846,1398,...,0,0,0,0,0,0,365,415,30 臺北市,1 一般
3,1,國立政治大學,N 職,M 碩士,287,286,298,220,187,148,...,49,48,0,0,0,0,0,0,30 臺北市,1 一般
4,2,國立清華大學,D 日,D 博士,230,60,219,54,200,46,...,171,47,145,40,163,47,23,4,18 新竹市,1 一般

In [39]:
len(df1[df1.學校代碼 == 1])

4

In [40]:
df1.sort_values(by="一年級男生",ascending=False).head()

,學校代碼,學校名稱,日間∕進修別,等級別,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
305,1007,逢甲大學,D 日,B 學士,2600,1539,2588,1611,2496,1583,...,53,45,0,0,0,0,478,104,19 臺中市,1 一般
293,1005,淡江大學,D 日,B 學士,2572,2483,2543,2460,2509,2476,...,38,28,0,0,0,0,729,363,01 新北市,1 一般
9,3,國立臺灣大學,D 日,M 碩士,2457,1509,2332,1432,898,603,...,0,0,0,0,0,0,0,0,30 臺北市,1 一般
299,1006,中國文化大學,D 日,B 學士,2366,2771,2361,2761,2376,2615,...,0,0,0,0,0,0,772,547,30 臺北市,1 一般
10,3,國立臺灣大學,D 日,B 學士,2075,1579,2109,1674,2076,1579,...,164,86,139,42,99,31,670,507,30 臺北市,1 一般

In [41]:
df1.sort_values(by="一年級女生",ascending=False).head()

,學校代碼,學校名稱,日間∕進修別,等級別,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
299,1006,中國文化大學,D 日,B 學士,2366,2771,2361,2761,2376,2615,...,0,0,0,0,0,0,772,547,30 臺北市,1 一般
350,1016,銘傳大學,D 日,B 學士,1704,2634,1634,2573,1594,2558,...,21,26,0,0,0,0,511,418,30 臺北市,1 一般
276,1002,輔仁大學,D 日,B 學士,1867,2505,1848,2553,1733,2580,...,36,9,29,12,29,15,563,487,01 新北市,1 一般
293,1005,淡江大學,D 日,B 學士,2572,2483,2543,2460,2509,2476,...,38,28,0,0,0,0,729,363,01 新北市,1 一般
354,1017,實踐大學,D 日,B 學士,1097,2024,1047,2013,1025,1893,...,16,21,0,0,0,0,235,231,30 臺北市,1 一般

In [42]:
df1.insert(6, column = "一年級學生數", value = df1.一年級男生 + df1.一年級女生 )

In [43]:
df1.head()

,學校代碼,學校名稱,日間∕進修別,等級別,一年級男生,一年級女生,一年級學生數,二年級男生,二年級女生,三年級男生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
0,1,國立政治大學,D 日,D 博士,109,74,183,105,65,72,...,90,47,68,37,64,44,0,0,30 臺北市,1 一般
1,1,國立政治大學,D 日,M 碩士,655,754,1409,569,655,346,...,0,0,0,0,0,0,0,0,30 臺北市,1 一般
2,1,國立政治大學,D 日,B 學士,993,1199,2192,864,1398,846,...,0,0,0,0,0,0,365,415,30 臺北市,1 一般
3,1,國立政治大學,N 職,M 碩士,287,286,573,298,220,187,...,49,48,0,0,0,0,0,0,30 臺北市,1 一般
4,2,國立清華大學,D 日,D 博士,230,60,290,219,54,200,...,171,47,145,40,163,47,23,4,18 新竹市,1 一般

In [44]:
df1.insert(9, column = "二年級學生數量", value = df1.二年級男生 + df1.二年級女生 )
df1.insert(12, column = "三年級學生數量", value = df1.三年級男生 + df1.三年級女生 )
df1.insert(15, column = "四年級學生數量", value = df1.四年級男生 + df1.四年級女生 )

In [46]:
df1.drop("五年級男生", axis=1, inplace=True)

In [47]:
df1.drop("五年級女生", axis=1, inplace=True)
df1.drop("六年級男生", axis=1, inplace=True)
df1.drop("六年級女生", axis=1, inplace=True)
df1.drop("七年級男生", axis=1, inplace=True)
df1.drop("七年級女生", axis=1, inplace=True)
df1.drop("延修生男生", axis=1, inplace=True)
df1.drop("延修生女生", axis=1, inplace=True)

In [48]:
df1.head()

,學校代碼,學校名稱,日間∕進修別,等級別,一年級男生,一年級女生,一年級學生數,二年級男生,二年級女生,二年級學生數量,三年級男生,三年級女生,三年級學生數量,四年級男生,四年級女生,四年級學生數量,縣市名稱,體系別
0,1,國立政治大學,D 日,D 博士,109,74,183,105,65,170,72,55,127,82,51,133,30 臺北市,1 一般
1,1,國立政治大學,D 日,M 碩士,655,754,1409,569,655,1224,346,431,777,210,262,472,30 臺北市,1 一般
2,1,國立政治大學,D 日,B 學士,993,1199,2192,864,1398,2262,846,1398,2244,871,1387,2258,30 臺北市,1 一般
3,1,國立政治大學,N 職,M 碩士,287,286,573,298,220,518,187,148,335,82,61,143,30 臺北市,1 一般
4,2,國立清華大學,D 日,D 博士,230,60,290,219,54,273,200,46,246,182,50,232,18 新竹市,1 一般

In [54]:
df1 = df1[df1.學校名稱 == "國立政治大學" ]

In [55]:
df1

,學校代碼,學校名稱,日間∕進修別,等級別,一年級男生,一年級女生,一年級學生數,二年級男生,二年級女生,二年級學生數量,三年級男生,三年級女生,三年級學生數量,四年級男生,四年級女生,四年級學生數量,縣市名稱,體系別
0,1,國立政治大學,D 日,D 博士,109,74,183,105,65,170,72,55,127,82,51,133,30 臺北市,1 一般
1,1,國立政治大學,D 日,M 碩士,655,754,1409,569,655,1224,346,431,777,210,262,472,30 臺北市,1 一般
2,1,國立政治大學,D 日,B 學士,993,1199,2192,864,1398,2262,846,1398,2244,871,1387,2258,30 臺北市,1 一般
3,1,國立政治大學,N 職,M 碩士,287,286,573,298,220,518,187,148,335,82,61,143,30 臺北市,1 一般

In [57]:
df1.index = range(1,5)

In [58]:
df1

,學校代碼,學校名稱,日間∕進修別,等級別,一年級男生,一年級女生,一年級學生數,二年級男生,二年級女生,二年級學生數量,三年級男生,三年級女生,三年級學生數量,四年級男生,四年級女生,四年級學生數量,縣市名稱,體系別
1,1,國立政治大學,D 日,D 博士,109,74,183,105,65,170,72,55,127,82,51,133,30 臺北市,1 一般
2,1,國立政治大學,D 日,M 碩士,655,754,1409,569,655,1224,346,431,777,210,262,472,30 臺北市,1 一般
3,1,國立政治大學,D 日,B 學士,993,1199,2192,864,1398,2262,846,1398,2244,871,1387,2258,30 臺北市,1 一般
4,1,國立政治大學,N 職,M 碩士,287,286,573,298,220,518,187,148,335,82,61,143,30 臺北市,1 一般